<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innodealing.mapper.BondInstRatingBondPubMapper">
	<resultMap id="BaseResultMap"
		type="com.innodealing.model.mysql.BondInstRatingBondPub">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="bond_uni_code" jdbcType="INTEGER" property="bondUniCode" />
		<result column="com_uni_code" jdbcType="INTEGER" property="comUniCode" />
		<result column="org_id" jdbcType="INTEGER" property="orgId" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="create_by" jdbcType="INTEGER" property="createBy" />
	</resultMap>


	<insert id="deleteByPrimaryKey">
		delete from institution.t_bond_inst_rating_bond_pub where id = #{0}
	</insert>

	<insert id="insert" parameterType="com.innodealing.model.mysql.BondInstRatingBondPub">
		insert into institution.t_bond_inst_rating_bond_pub (id, bond_uni_code, com_uni_code,
		org_id, remark,
		create_by)
		values (#{id,jdbcType=INTEGER}, #{bondUniCode,jdbcType=INTEGER},
		#{comUniCode,jdbcType=INTEGER},
		#{orgId,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
		#{createBy,jdbcType=INTEGER})
	</insert>

	<update id="updateByPrimaryKey" parameterType="com.innodealing.model.mysql.BondInstRatingBondPub">
		update institution.t_bond_inst_rating_bond_pub
		set bond_uni_code = #{bondUniCode,jdbcType=INTEGER},
		com_uni_code = #{comUniCode,jdbcType=INTEGER},
		org_id = #{orgId,jdbcType=INTEGER},
		remark = #{remark,jdbcType=VARCHAR},
		create_by = #{createBy,jdbcType=INTEGER}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>